@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.woff2') format('woff2');
}  

@font-face {
  font-family: 'merriweather';
  src: url('../fonts/Merriweather-Regular.woff') format('woff'),
       url('../fonts/Merriweather-Regular.woff2') format('woff2');
} 

@layer base {
  .page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-wrapper-content {
    max-width: 1300px;
    width: 100%;
  }
  
}

@layer components {
  .text-shadow {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .clipPathBefore {
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0px, 0px 100%, 100% 100%, 100% 40px);
    height: 40px;
    top: -40px;
    content: "";
    background-color: #e7bc5a;
  }

  .clipPathAfter {
    width: 100%;
    position: absolute;
    clip-path: polygon(0 -1px, 0% 40px, 100% 0%, 100% 0);
    height: 40px;
    bottom: -40px;
    content: "";
    background-color: #e7bc5a;
  }

  .flipCard_inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  .flipCard_out:hover .flipCard_inner {
    transform: rotateY(180deg);
  }

  .flipCard_front,
  .flipCard_back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14rem;
    height: 12rem;
    background-color: rgba(244, 244, 244, 0.85);
    --tw-border-opacity: 1;
    border-color: rgb(156 163 175 / var(--tw-border-opacity));
    border-radius: 0.5rem;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
  }

  .flipCard_back {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotateY(180deg);
  }

  .navLink {
    transition: 0.5s;
  }
}
